# Exploration de la base de données

In [1]:
#!conda install pandas #dans la console
from datetime import date, timedelta
import os

import pandas as pd

In [2]:
# Racine des fichiers quotidiens
BASE_URL = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/{}.csv'

# Dates de diponibilité des fichiers
START_DATE = date(2020, 1, 22)
END_DATE = date(2020, 3, 20)

#Répertoire de sauvegarde des fichiers bruts
RAWFILES_DIR = '../data/raw/'
PROCESSED_DIR = '../data/processed/'

## Boucle de récupération des fichiers

In [3]:
delta = END_DATE - START_DATE       # as timedelta

for i in range(delta.days + 1):
    day = START_DATE + timedelta(days=i)
    day_label = day.strftime("%m-%d-%Y")
    
    virus_df = pd.read_csv(BASE_URL.format(day_label), sep=",", parse_dates=["Last Update"])
    virus_df.to_csv(os.path.join(RAWFILES_DIR, day_label + '.csv'), index=False)
    
    #print(day_label)

In [4]:
virus_df.dtypes

Province/State            object
Country/Region            object
Last Update       datetime64[ns]
Confirmed                  int64
Deaths                     int64
Recovered                  int64
Latitude                 float64
Longitude                float64
dtype: object

## Constitution de la table de référence lat/long

In [5]:
import glob

df_list = []

# Lecture des fichiers récupérés et sélection de ceux qui ont une lat / long
for file in glob.glob(os.path.join(RAWFILES_DIR, '*.csv')):
    virus_df = pd.read_csv(file, sep=',')
    if 'Latitude' in virus_df.columns and 'Longitude' in virus_df.columns:
        df_list.append(virus_df)

all_df = pd.concat(df_list)

# Table de référence pour les lat / long
(all_df[["Province/State", "Country/Region", "Latitude", "Longitude"]]
 .drop_duplicates(subset=["Province/State", "Country/Region"])
 .sort_values(by=["Country/Region", "Province/State"])
 .to_csv(os.path.join(PROCESSED_DIR, "lat_long_table.csv"), index=False)
)

In [6]:
(all_df[["Province/State", "Country/Region", "Latitude", "Longitude"]]
 .drop_duplicates()
 .shape
)

(523, 4)

In [7]:
(all_df[["Province/State", "Country/Region", "Latitude", "Longitude"]]
 .drop_duplicates()
 .drop_duplicates(subset=["Province/State", "Country/Region"])
 .shape
)
# 3 villes qui ont des latitudes-longitudes différentes

(426, 4)

In [8]:
(all_df[["Province/State", "Country/Region", "Latitude", "Longitude"]]
 .drop_duplicates()
 [(all_df[["Province/State", "Country/Region", "Latitude", "Longitude"]]
   .drop_duplicates()
   .duplicated(subset=["Province/State", "Country/Region"], keep=False))]
)
# Les 3 pays qui ont "bougé".

       Province/State        Country/Region   Latitude   Longitude
2                 NaN                 Italy  43.000000   12.000000
8                 NaN                  Iran  32.000000   53.000000
20                NaN                 Japan  36.000000  138.000000
29                NaN               Germany  51.000000    9.000000
31                NaN             Singapore   1.283300  103.833300
35                NaN                 Spain  40.000000   -4.000000
39                NaN               Bahrain  26.027500   50.550000
40                NaN                Kuwait  29.500000   47.750000
42                NaN              Thailand  15.000000  101.000000
45                NaN              Malaysia   2.500000  112.500000
47                NaN  United Arab Emirates  24.000000   54.000000
48                NaN                  Iraq  33.000000   44.000000
51                NaN               Vietnam  16.000000  108.000000
54                NaN                Sweden  63.000000   16.000000
55                NaN                Israel  31.000000   35.000000
61   British Columbia                Canada  49.282700 -123.120700
63                NaN               Croatia  45.100000   15.200000
67                NaN               Finland  64.000000   26.000000
68                NaN                  Oman  21.000000   57.000000
69                NaN                Mexico  23.000000 -102.000000
77                NaN                 India  21.000000   78.000000
78                NaN           Philippines  13.000000  122.000000
80                NaN               Romania  45.943200   24.966800
84                NaN               Belgium  50.833300    4.000000
86                NaN                 Egypt  26.000000   30.000000
87                NaN                Russia  60.000000   90.000000
96                NaN              Cambodia  11.550000  104.916700
101               NaN               Ireland  53.142400   -7.692100
103               NaN            Luxembourg  49.815300    6.129600
106               NaN                 Nepal  28.166700   84.250000
..                ...                   ...        ...         ...
193          Michigan                    US  43.326618  -84.536095
194         Minnesota                    US  45.694454  -93.900192
195       Mississippi                    US  32.741646  -89.678696
196          Missouri                    US  38.456085  -92.288368
197           Montana                    US  46.921925 -110.454353
198          Nebraska                    US  41.125370  -98.268082
199            Nevada                    US  38.313515 -117.055374
200     New Hampshire                    US  43.452492  -71.563896
201        New Jersey                    US  40.298904  -74.521011
202        New Mexico                    US  34.840515 -106.248482
203          New York                    US  42.165726  -74.948051
204    North Carolina                    US  35.630066  -79.806419
205      North Dakota                    US  47.528912  -99.784012
206              Ohio                    US  40.388783  -82.764915
207          Oklahoma                    US  35.565342  -96.928917
208            Oregon                    US  44.572021 -122.070938
209      Pennsylvania                    US  40.590752  -77.209755
210      Rhode Island                    US  41.680893  -71.511780
211    South Carolina                    US  33.856892  -80.945007
212      South Dakota                    US  44.299782  -99.438828
213         Tennessee                    US  35.747845  -86.692345
214             Texas                    US  31.054487  -97.563461
215              Utah                    US  40.150032 -111.862434
216           Vermont                    US  44.045876  -72.710686
217          Virginia                    US  37.769337  -78.169968
218        Washington                    US  47.400902 -121.490494
219     West Virginia                    US  38.491226  -80.954453
220         Wisconsin                    US  44.268543  -89.616508
221           Wyoming                    US  42.755966 -107.302490
222               NaN               Vietnam  14.058300  108.277200

[194 rows x 4 columns]

## Construction d'une table unique

In [9]:
data_catalog = {
    'Last Update':["<M8[ns]"],
    "Confirmed":["float64", "int64"],
    "Deaths":["float64", "int64"],
    "Recovered":["float64", "int64"],
    "Latitude":["float64"],
    "Longitude":["float64"]
}

In [10]:
df_list = []

latlong_df = pd.read_csv(os.path.join(PROCESSED_DIR, "lat_long_table.csv"))

# Lecture des fichiers récupérés et sélection de ceux qui ont une lat / long
for file in glob.glob(os.path.join(RAWFILES_DIR, '*.csv')):
    virus_df = pd.read_csv(file, sep=',', parse_dates=["Last Update"])
    if not('Latitude' in virus_df.columns and 'Longitude' in virus_df.columns):
        virus_df = virus_df.merge(latlong_df, on=["Province/State", "Country/Region"], how='left')
    
    # Checker le type des variables dans l'importation de chaque fichier.
    for field, types in data_catalog.items():
        assert virus_df[field].dtypes in types, f"bad type for {field} in {file}"

    df_list.append(virus_df.assign(source=os.path.basename(file)))
 
all_df = pd.concat(df_list)

# Sauvegarde de la table totale
all_df.to_csv(os.path.join(PROCESSED_DIR, 'all_data.csv'), index=False)